.imgStyle{
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-sm;
    position: relative;
    overflow: hidden;
}

.logolmg{
    background: url('/assets/logo_ppc.png') no-repeat;
    position: absolute;
    bottom: 0;left: 0;right: 0;top: 0;
    width: auto;
    height: auto;
    background-size:50%;
    background-position: center;
    z-index: 1;
}
.cloud_one{
    background: url('/assets/cloud_1.png') no-repeat;
    position: absolute;
    top:65%; left: 10%;
    width: 180px;
    height: 100px;
    background-size: contain;
    z-index: 2;
}

.cloud_two{
    background: url('/assets/cloud_1.png') no-repeat;
    position: absolute;
    top:49%; left: 50%;
    width: 200px;
    height: 100px;
    background-size: contain;
    z-index: 0;
}

/* css keyframes */

/*
@keyframes .cloud_one {
    
}
*/